/JavaWork.iml
/.idea/misc.xml
/.idea/modules.xml
/out/production/JavaWork/com/xiaoma/java/classwork/loop/PassSeven.class
/out/production/JavaWork/com/xiaoma/java/classwork/loop/SqrtSolver.class
/.idea/uiDesigner.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.gitignore